In [1]:
import duckdb
db = r"C:\Users\eddiec11us\Documents\all_sales.duckdb"
con = duckdb.connect(db)

In [65]:
q = \
"""
SELECT
  date_trunc('month', invoice_date) AS InvoiceMonth,
  lower(product_category) AS ProductCategory,
  sum(amount) AS JanCategoryTotal
FROM all_sales
GROUP BY date_trunc('month', invoice_date), lower(product_category)
HAVING InvoiceMonth = date_trunc('month', DATE '2025-01-01') AND JanCategoryTotal > 400000
ORDER BY JanCategoryTotal DESC
"""

df = con.execute(q).fetch_df()
df

  InvoiceMonth ProductCategory  JanCategoryTotal
0   2025-01-01           mount        6270724.34
1   2025-01-01              tv         436864.65